.user-page {
    .user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .info {
            font-size: 13px;
        }
        .avatar {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 13px;
            img {
                width: 30px;
                height: 30px;
                border-radius: 15px;
            }

            .vip {
                border: 4px solid salmon;
            }
        }
    }
    .lottery-tips {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
    }
}