.goods-item {
    border-bottom: 1px solid gray;
    margin-top: 10px;
    .main-info {
        display: flex;
        align-items: center;

        .goods-img {
            width: 50px;
            height: 50px;
        }

        .out-stock {
            font-size: 12px;
            background: pink;
            color: white;
            margin-left: 20px;
        }
    }
    .detail-info {
        display: flex;
        justify-content: space-between;
        .discount {
            color: red;
        }
        .tag-wrap {
            .tag {
                margin-left: 5px;
                font-size: 13px;
                background: gray;
                color: white;
            }
        }
    }

}